
.NavBar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    font-family: Rubik Doodle Shadow;
    background-color: #313639;
    margin: 10px;
    font-size:  2.7vw;
    



    
    }
    .noMargin {
      margin: 0px;
    }
    .font {
        color:white;
        font-size: 2.7vw;
        margin: auto ;
        width: 100%;

    }
    
    .gridMenu {
        color:white;
        grid-area: 1 / 12 / 2 / 13; 
        border: 2px solid white;
        border-top: 2px solid white;
    border-bottom: 2px solid white;
        

    }
    .gridNavOne {
        grid-area: 1 / 1 / 2 / 4;
        pad: 10px;
        border-left: 2px solid white;
        border-top: 2px solid white;
    border-bottom: 2px solid white;

    }
    .gridNavTwo {
        grid-area: 1 / 4 / 2 / 6;
        border-left: 2px solid white;
        border-top: 2px solid white;
    border-bottom: 2px solid white;

    }
    .gridNavThree { grid-area: 1 / 6 / 2 / 8;
      border-left: 2px solid white;
      border-top: 2px solid white;
    border-bottom: 2px solid white;
    }
    .gridNavFour {grid-area: 1 / 8 / 2 / 10;
      border-left: 2px solid white;
      border-top: 2px solid white;
    border-bottom: 2px solid white;
    }
    .gridNavFive { grid-area: 1 / 10 / 2 / 12;
      border-left: 2px solid white;
      border-top: 2px solid white;
    border-bottom: 2px solid white;
    }

    .gridMenu:hover {
        background-color: #B0F2B4;
        color: #313639;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .rotate {

   animation: rotateAnimation 5s linear infinite; /* Rotate the div continuously */

  /* Additional styles for centering the div and making it visually appealing */
  margin: auto;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
    