.homeHero {
    height: 70vh;
    margin: 10px;

}
.heroTitle {
    border: 2px solid white;

    padding:10px;
    color: white;
    font-family: Rubik Doodle Shadow;
    font-size: 4vw;
    text-align: center;
    margin: 0px;
    font-weight: 400;

}
.heroContentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    height: 100%;
    }

.heroLeft {
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .heroLeft:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #B0F2B4; /* Color of the spreading effect */
    transition: width 0.5s, height 0.5s;
    z-index: -1; /* Move the pseudo-element behind the content */
    border-radius: 50%;

  }
  
  .heroLeft:hover:before {
    width: 200%; /* Adjust the width to cover the entire div */
    height: 200%; /* Adjust the height to cover the entire div */
    border: 2px solid black;

  }
  
  
.heroImg {
      margin:auto;
      border: 2px solid white;
      width: 50%;
      border-radius: 50%;

}
.heroImg:hover {
          border: 2px solid black;

}
.imgText {
    position: absolute;
    color:#313639;
}

.heroRight {
    border: 2px solid white;
    margin-top: 10px;
    grid-area: 1 / 2 / 2 / 3;

}